
run = "npm run dev"
entrypoint = "src/app/page.jsx"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-18:v18-20230807-bd784b9"]

[nix]
channel = "stable-23_05"

[deployment]
build = "npm run build"
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run start"]

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.mdx}"
[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[[ports]]
localPort = 3000
externalPort = 80
