run = "vite"
entrypoint = "index.html"
hidden = [".config"]
modules = ["nodejs-18", "web"]

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "static"
build = ["sh", "-c", "npm run dev"]
publicDir = ".next"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Build site"

[[workflows.workflow]]
name = "Build site"
mode = "sequential"
author = 38214105

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
