@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

.animate-gradient-text {
  background: linear-gradient(
    300deg,
    #0ea5e9,
    #14b8a6,
    #f97316,
    #a855f7
  );
  background-size: 300% 300%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.dark .animate-colorize {
  animation: colorize-dark 3s ease-in-out;
}

@keyframes colorize-dark {
  0% { color: rgb(244 244 245); }
  50% { color: rgb(45 212 191); }
  100% { color: rgb(244 244 245); }
}

.animate-colorize {
  animation: colorize 3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.delay-2s {
  animation-delay: 2s;
}

/* Fade out and move down */
@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(1rem); /* Moves down */
  }
}

/* Fade in and move up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1rem); /* Starts from below */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation classes */
.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-in-out;
}

.animate-fade-out-down {
  animation: fadeOutDown 0.5s ease-in-out;
}

@keyframes borderTravel {
  0%, 100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
}

.animate-border {
  background: linear-gradient(90deg, rgba(161, 161, 170, 0.5) 50%, transparent 50%),
              linear-gradient(90deg, rgba(161, 161, 170, 0.5) 50%, transparent 50%),
              linear-gradient(0deg, rgba(161, 161, 170, 0.5) 50%, transparent 50%),
              linear-gradient(0deg, rgba(161, 161, 170, 0.5) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
  animation: borderTravel 4s infinite linear;
  padding: 2px;
}