@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

.animate-gradient-text {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.dark .animate-colorize {
  animation: colorize-dark 3s ease-in-out;
}

@keyframes colorize-dark {
  0% { color: rgb(244 244 245); }
  50% { color: rgb(45 212 191); }
  100% { color: rgb(244 244 245); }
}

.animate-colorize {
  animation: colorize 3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.delay-2s {
  animation-delay: 2s;
}

/* Fade out and move down */
@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(1rem); /* Moves down */
  }
}

/* Fade in and move up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1rem); /* Starts from below */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation classes */
.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-in-out;
}

.animate-fade-out-down {
  animation: fadeOutDown 0.5s ease-in-out;
}